@import url('https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css');



body  a{
  text-decoration: none;
}
.box {
    width: 800px;
    margin: 0 auto;
  }

  .active_tab1 {
    background-color: #fff;
    color: #333;
    font-weight: 600;
  }

  .inactive_tab1 {
    background-color: #f5f5f5;
    color: #333;
    cursor: not-allowed;
  }

  .has-error {
    border-color: #cc0000;
    background-color: #ffff99;
  }

  .select2 {
    width: 100% !important;
  }

  .select2 .has-error {
    border-color: #cc0000;
    background-color: #ffff99;
  }

  .modal_field_name {
    float: left;
    font-weight: 700;
    margin-right: 1%;
    padding-top: 1%;
    margin-top: 1%;
  }

  .modal_field_value {
    margin-right: 1%;
    padding-top: 1%;
    margin-top: 1%;
  }

  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 1% !important;
  }

  .section1 {
    border: 1.5px solid #9187878c;
    margin: 2%;
    padding: 2%;
  }

  .color1 {
    margin: 0% !important;
    background-color: #5f9ea061;
  }

  .modal-header {
    background-color: #7fffd4;
  }

  .required-field::after {
    content: "*";
    color: red;
  }

  .imageSize {
    font-size: 9px;
    color: #333;
  }
  .applnDiv{
    color:#009999;
    width: 100%;
   padding-left: 250px;;
  }
  .applnlbl{
    color:#006600;
    font-size: 20px;
  
  }
  .address{
    margin-left:10px !important;
    border: 1px solid black;
  }


